cli/.config/zsh/plugins/*
lazy-lock.json
cli/.config/nvim/lazyvim.json
cli/.local/share/devbox/global/default/devbox.lock
hyprland/.config/hypr/config/overrides.conf
hyprland/.config/hypr/config/monitors.conf
gtk/**/bookmarks
cli/.config/yazi/plugins/
gui/.local/share/vicinae/clipboard-data*
gui/.local/share/vicinae/*.db
gui/.local/share/vicinae/file-indexer*
gui/.local/share/vicinae/metadata.json
gtk/.config/gtk-3.0/dank-colors.css
gtk/.config/gtk-4.0/dank-colors.css
gui/.config/ghostty/config-dankcolors
gui/.config/kitty/dank-tabs.conf
gui/.config/kitty/dank-theme.conf
wm/.config/DankMaterialShell/firefox.css
gui/.config/ghostty/themes/dankcolors
cli/.config/nvim/lua/plugins/dankcolors.lua
hyprland/.config/hypr/dms/
wm/.config/DankMaterialShell/.changelog*
wm/.config/DankMaterialShell/.firstlaunch
