cli/.config/zsh/plugins/*
cli/.config/nvim/lazy-lock.json
cli/.config/nvim/lazyvim.json
cli/.local/share/devbox/global/default/devbox.lock
hyprland/.config/hypr/config/overrides.conf
hyprland/.config/hypr/config/monitors.conf
gtk/**/bookmarks
