/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #3f4481 !important;
  --toolbarbutton-icon-fill: #c70036 !important;
  --toolbar-field-color: #cdd6f4 !important;
  --tab-selected-textcolor: #c70036 !important;
  --toolbar-color: #cdd6f4 !important;
  --arrowpanel-color: #cdd6f4 !important;
  --arrowpanel-background: #09090b !important;
  --sidebar-text-color: #cdd6f4 !important;
  --zen-main-browser-background: #09090b !important;
}

.sidebar-placesTree {
  background-color: #09090b !important;
}

#zen-workspaces-button {
  background-color: #09090b !important;
}

#TabsToolbar {
  background-color: #09090b !important;
}

.urlbar-background {
  background-color: #09090b !important;
}

.urlbar-input::selection {
  color: #1e1e2e !important;
  background-color: #c70036 !important;
}

.urlbarView-url {
  color: #a6adc8 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c70036
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #da2053 !important;
  --identity-icon-color: #da2053 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c70036 !important;
  --identity-icon-color: #c70036 !important;
}

.identity-color-green {
  --identity-tab-color: #70ee47 !important;
  --identity-icon-color: #70ee47 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffda4c !important;
  --identity-icon-color: #ffda4c !important;
}

.identity-color-orange {
  --identity-tab-color: #f8c500 !important;
  --identity-icon-color: #f8c500 !important;
}

.identity-color-red {
  --identity-tab-color: #ff3f45 !important;
  --identity-icon-color: #ff3f45 !important;
}

.identity-color-pink {
  --identity-tab-color: #ff4c7c !important;
  --identity-icon-color: #ff4c7c !important;
}

.identity-color-purple {
  --identity-tab-color: #5c0019 !important;
  --identity-icon-color: #5c0019 !important;
}

#zen-appcontent-navbar-container {
  background-color: #09090b !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #c70036 !important;
  color: #c70036 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #c70036 !important;
  color: #c70036 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #c70036 !important;
}
