[include]
  path = ~/.local/share/git/catppuccin.gitconfig
[delta]
  features = catppuccin-mocha
    grep-output-color = "TODO:|FIXME:|XXX:|HACK:"
    grep-output-color-style = "bold red"
  hunk-header-decoration-style = none
  hunk-header-file-style = gray
  hunk-header-line-number-style = yellow
    file-decoration-style = box
line-numbers = true
[pager]
	status = false
	branch = false
  log = false
[user]
	email = git@mail.adisdurakovic.com
  name = Adis Durakovic
[merge]
  conflictStyle = zdiff3
[core]
	filemode = false
	autocrlf = false
  pager = delta
[blame]
  pager = delta
[init]
	defaultBranch = main
[pull]
  rebase = false
[interactive]
  diffFilter = delta --color-only
[alias]
    l = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --date=short --date-order -50
    lg= log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --graph --date=short --date-order -50
    ph = push
    pl = pull
    pr = "push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
    co = checkout
    cb = checkout -b
    ct = checkout -t
    s = status
    d = diff
	  dm = !git diff $(git symbolic-ref refs/remotes/origin/HEAD | sed \"s@^refs/remotes/origin/@@\")
		lb = !git log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --date=short --date-order $(git symbolic-ref refs/remotes/origin/HEAD | sed \"s@^refs/remotes/origin/@@\")..HEAD

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
[push]
autoSetupRemote = true
[credential]
	helper = store
[includeIf "gitdir:~/ANX/**"]
  path = ~/.gitconfig-anexia

[color "status"]
	changed = yellow
	deleted = red
	updated = green
