[include]
  path = ~/.local/share/git/catppuccin.gitconfig
[delta]
  features = catppuccin-mocha
  line-numbers = true
[pager]
	status = false
	branch = false
	log = false
[user]
	email = git@mail.adisdurakovic.com
  name = Adis Durakovic
[merge]
  conflictStyle = zdiff3
[core]
	filemode = false
	autocrlf = false
  pager = delta
[blame]
  pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
    l = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --date=human --date-order -20
    lg= log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --graph --date=human --date-order -20
    ph = push
    pl = pull
    pr = "push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
    co = checkout
    cb = checkout -b
    ct = checkout -t
    s = status
    d = diff
    d1 = diff HEAD~1
    d2 = diff HEAD~2

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
[push]
autoSetupRemote = true
[credential]
	helper = store
[includeIf "gitdir:~/ANX/**"]
  path = ~/.gitconfig-anexia

[color "status"]
	changed = yellow
	deleted = red
	updated = green
