[Unit]
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=bash -c 'cd $HOME/.config/asira && ags -d $(pwd) run'
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target

