[Unit]
After=graphical-session.target

[Service]
Type=exec
ExecStart=bash -c '~/.local/scripts/wm/custom-startup.sh'
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target

