[Unit]
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=bash -c '$HOME/.local/scripts/wm/randomize-wallpaper.sh $HOME/Pictures/Wallpapers/Space'
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target

