[Unit]
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=bash -c '$HOME/Applications/vicinae/vicinae server'
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
